<script type="text/template" id="app-template">
	<div class="container">
		Hello, World
		<div class="bv_messageContainer"></div>
	</div>

	<div class="container">
		<hr />
		<div class="bv_messageListContainer"></div>
	</div>
</script>