doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/base.css')
		include ../public/src/modules/message/app/src/client/AppView.html
		include ../public/src/modules/message/message/src/client/MessageView.html
		-each script in scripts
			script(type='text/javascript', src= script)

	body
		block content
