extends layout

block content
	link(rel='stylesheet', href='src/lib/testLibraries/jasmine-jstd-adapter/jasmine/lib/jasmine-core/jasmine.css')
	include ../public/src/modules/message/app/src/client/AppView.html
	include ../public/src/modules/message/message/src/client/MessageView.html



	div#fixtureContainer

	script
		var jasmineEnv = jasmine.getEnv();
		jasmineEnv.updateInterval = 1000;
		var trivialReporter = new jasmine.TrivialReporter();

		jasmineEnv.addReporter(trivialReporter);

		jasmineEnv.specFilter = function(spec) {
				return trivialReporter.specFilter(spec);
		};
		var currentWindowOnload = window.onload;
		window.servicesHostPrefix = "";

		window.onload = function() {
			if (currentWindowOnload) {
				currentWindowOnload();
			}
			execJasmine();
		};

		function execJasmine() {
			jasmineEnv.execute();
		}
