<script type="text/template" id="message-cotroller-template">
	Greeting: <%= greeting %>
</script>
				
<script type="text/template" id="message-list-controller-template">
	<ul class="bv_listOfGreetings"></ul>
	<hr />
	<h4 class='bv_itemCount'>Number of greetings: <%= itemCount %></h4>
</script>
